.inbox{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    padding-left: 12px;
}
.inbox:focus{
    outline: 0;
}
.pagination{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px

}